html {
  scroll-behavior: smooth;
  z-index: 160; }

.root, .App {
  margin: 0;
  padding: 0; }

body {
  background-color: #e9e3e3;
  margin: auto;
  display: flex;
  justify-content: center; }

.App {
  display: grid;
  grid-template-rows: auto; }

.spinner {
  position: fixed;
  top: 30%;
  left: 40%;
  background-color: #6d6969 0.7;
  z-index: 110; }
  .spinner img {
    position: absolute;
    top: auto;
    left: auto;
    width: 200px;
    height: 200px;
    z-index: 115; }

.scrollUp {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 100;
  cursor: pointer; }

.characters-list {
  width: 100%;
  margin: 100px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .characters-list_item {
    width: 300px;
    height: 300px;
    margin: 30px;
    background-color: white;
    border-radius: 5%;
    cursor: pointer; }
    .characters-list_item_wrapper {
      position: relative;
      display: flex;
      flex-direction: column; }
      .characters-list_item_wrapper_img {
        width: 250px;
        height: 250px;
        position: absolute;
        top: -30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 5%;
        box-shadow: 15px 15px 7px #d6cdcd; }
      .characters-list_item_wrapper_name {
        position: absolute;
        top: 240px;
        left: 0;
        right: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-align: center; }

.modal {
  width: 50%;
  height: 40%;
  position: fixed;
  top: 35px;
  left: 100px;
  background-color: black;
  z-index: 10; }
  @media (max-width: 750px) {
    .modal {
      height: 70%; } }
  .modal_inner {
    width: 97%;
    height: 94%;
    display: flex;
    justify-content: space-between;
    margin: 8px auto;
    background-color: #faf8f8;
    border-radius: 10px; }
    @media (max-width: 750px) {
      .modal_inner {
        flex-direction: column;
        justify-content: start; } }
    .modal_inner_img {
      display: block;
      width: 45%;
      height: 100%;
      opacity: 0.5; }
      @media (max-width: 750px) {
        .modal_inner_img {
          width: 100%; } }
    .modal_inner_info {
      box-sizing: border-box;
      width: 55%;
      height: 100%;
      padding: 4% 7%; }
      @media (max-width: 750px) {
        .modal_inner_info {
          width: 100%; } }
      .modal_inner_info_wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-flow: row;
        row-gap: 10%; }
        .modal_inner_info_wrapper_item_title {
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          font-size: 14px;
          font-weight: bold; }
        .modal_inner_info_wrapper_item_descr {
          margin-top: 2px;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          font-size: 14px;
          font-weight: 400; }

.pagination {
  width: 100%;
  height: 60px;
  background-color: #f3e7e7;
  padding: 20px;
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: 150; }
  .pagination_switch-btn {
    display: block;
    width: 62px;
    height: 24px;
    border-radius: 12px;
    background: #bfbfbf;
    z-index: 0;
    margin: 0 auto;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; }
  .pagination_switch-btn::after {
    content: "";
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background: #fff;
    top: -6px;
    left: -6px;
    transition-duration: 300ms;
    box-shadow: 0 0 10px 0 #999999;
    position: absolute;
    z-index: 1; }
  .pagination_item {
    width: 50%;
    height: 30px;
    margin: 20px auto;
    display: flex;
    justify-content: center; }
    .pagination_item_arrow {
      width: 30px;
      height: 30px;
      margin: 0 20px 0 20px;
      cursor: pointer; }
    .pagination_item_current-page {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background-color: #118c4e; }

.switch-on {
  background: #fff;
  box-shadow: inset 0 0 10px 0 #999999; }

.switch-on::after {
  left: 30px;
  background: #118c4e; }

.endList {
  position: fixed;
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: red;
  font-size: 28px;
  font-weight: 900; }

/*# sourceMappingURL=index.css.map */
